.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-centered-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}