* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-width: 77vw;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto/Roboto-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway/Raleway-VariableFont_wght.ttf");
    font-style: normal;
}

html{
    font-family: Roboto;
    font-size: 13px;
}


.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-centered-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}