* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Bold";
    src: url("./fonts/Roboto/Roboto-Bold.ttf");
}

body{
    font-family: Roboto;
    font-size: 13px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Roboto Bold";
    border: none;
    cursor: pointer;
}

.primary-big-btn {
    border-radius: 27.5px;
    background-color: #F09000;
    box-shadow: 1px 2px 7px 0 rgba(0,0,0,0.15);
    padding: 0 58px;


    height: 55px;
    font-size: 16px;
    color: #FFFFFF;
}

.primary-big-btn:enabled:hover
,.primary-med-btn:enabled:hover
,.primary-sm-btn:enabled:hover {
    background-color: #C87800;
    box-shadow: none;
}

.primary-big-btn:disabled
,.primary-med-btn:disabled
,.primary-sm-btn:disabled {
    background-color: #f9d399;
    cursor: not-allowed;
}

.primary-med-btn {
    height: 46px;
    border-radius: 30px;
    background-color: #F09000;
    box-shadow: 1px 2px 7px 0 rgba(0,0,0,0.15);
    padding: 0 60px;

    font-size: 14px;
    color: #FFFFFF;
}

.primary-sm-btn {
    
    height: 30px;
    border-radius: 30px;
    background-color: #F09000;
    box-shadow: 1px 2px 7px 0 rgba(0,0,0,0.15);
    padding: 0 44px;


    color: #FFFFFF;
    font-size: 13px;

}

.secondary-big-btn {
    height: 55px;
    border: 2px solid #F09000;
    border-radius: 27.5px;
    background-color: #FFFFFF;
    padding: 0 58px;

    color: #F09000;
    font-size: 16px;
}

.secondary-med-btn {
    height: 46px;
    border: 2px solid #F09000;
    border-radius: 30px;
    background-color: #FFFFFF;

    color: #F09000;
    font-size: 14px;
    padding: 0 60px;
}

.secondary-sm-btn {
    height: 30px;
    border: 2px solid #F09000;
    border-radius: 30px;
    background-color: #FFFFFF;
    padding: 0 44px;

    color: #F09000;
    font-size: 13px;
}

.secondary-big-btn:enabled:hover
,.secondary-med-btn:enabled:hover
,.secondary-sm-btn:enabled:hover{
    color: #FFFFFF;
    background-color: #F09000;
    border-color: #F09000;
}

.secondary-big-btn:disabled
,.secondary-med-btn:disabled
,.secondary-sm-btn:disabled {
    border: 2px solid #f9d399;
    color: #f9d399;
    cursor: not-allowed;
}

input {
    font-family: Roboto;
}

.email {
    position: relative;
    display: inline-block;

    --bg-color: #E6E6EC;

    height: 50px;
    width: 260px;
    border-radius: 5px;
    background-color: var(--bg-color);
    color: #959598;
    font-size: 15px;
    padding-left: 15px;
    border: 2px solid var(--bg-color);
}

.email-active {
    border: 2px solid #F09000;
    background-color: #FDEFD9;
}

.email-invalid {
    border: 2px solid #FF0000;
    background-color: #FFE3E3;
    color: red;
}

.email-hover{
    --bg-color: #DADAE1;
    background-color: var(--bg-color);
    border: 2px solid var(--bg-color);
}

.email input {
    position: absolute;
    top: 0px;
    height: inherit;

    background: none;
    outline:none;
    border: none;

    font-size: 15px;
}

.email .placeholder {
    position: absolute;
    top: 0px;
    height: inherit;

    display: flex;
    align-items: center;

    user-select: none;
    position: absolute;
    background: none;

    font-size: 15px;

    transition: all 0.1s;
    transform-origin: 0% 0%;
}

.red {
    color: red;
}

.email .placeholder-minimized{
    transform: translateY(-10px);
    font-size: 13px;
}

.email .input-focus {
    --offset: 15px;
    margin-top: var(--offset); 
    height: calc(100% - var(--offset));
} 


.socials-section{
    background-color: #001130;
    height: 30px;
    width: 100%;
    color: #e5e7ea;
}

.socials-container{
    display: flex;
    margin: 0 165px;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.socials-container email {
    color: white;
}

.social-networks {
    display: flex;
}

.social-networks .fa{
    color: white;
}

.social-networks a {
    width: 20px;
    height: 20px;
    border: 1.5px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 3px;
    font-size: 9px;
}

header {
    height: 84px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,0.15);
}

header .links {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    font-family: "Roboto Bold";
    font-size: 13px;
}


header .links a{
    text-decoration: none;
    color: #686868;
}

.request-demo-container {
    height: 46px;
    width: 155px;
    border-radius: 30px;
    background-color: #F09000;
    box-shadow: 1px 2px 7px 0 rgba(0,0,0,0.15);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.request-demo {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;

}

footer {
    width: 100%;
    background-color: #e1e1e1;
    display: flex;
}

.footer-info {
    display: flex;
    width: 100%;
}

.footer-info-container {
    margin: 0 165px;
    width: 100%;
    margin-top: 133px;
}

.copyright-container{
    font-size: 14px;
    height: 60px;
    width: 100%;
    color: rgba(0,0,0,0.6);
    border-top: 1px solid rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    
}

.company-info-container {
    display: flex;
}

.footer-links-container {
    display: flex;
}

.app-links-container {
    display: flex;
}
