
button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F09000;
    color: #FFFFFF;

    font-family: "Roboto Bold";
    border: none;
    cursor: pointer;
}

button .primary {
    background-color: #F09000;
    color: #FFFFFF;
    border-radius: 27.5px;
    box-shadow: 1px 2px 7px 0 rgba(0,0,0,0.15);
}

.primary-big-btn {
    border-radius: 27.5px;
    background-color: #F09000;
    box-shadow: 1px 2px 7px 0 rgba(0,0,0,0.15);
    padding: 0 58px;


    height: 55px;
    font-size: 16px;
    color: #FFFFFF;
}

button:enabled:hover
,button:enabled:hover
,button:enabled:hover {
    background-color: #C87800;
    box-shadow: none;
}

button:disabled
,button:disabled
,button:disabled {
    background-color: #f9d399;
    cursor: not-allowed;
}

.primary-med-btn {
    height: 46px;
    border-radius: 30px;
    background-color: #F09000;
    box-shadow: 1px 2px 7px 0 rgba(0,0,0,0.15);
    padding: 0 60px;

    font-size: 14px;
    color: #FFFFFF;
}

.primary-sm-btn {
    
    height: 30px;
    border-radius: 30px;
    background-color: #F09000;
    box-shadow: 1px 2px 7px 0 rgba(0,0,0,0.15);
    padding: 0 44px;


    color: #FFFFFF;
    font-size: 13px;

}

.secondary-big-btn {
    height: 55px;
    border: 2px solid #F09000;
    border-radius: 27.5px;
    background-color: #FFFFFF;
    padding: 0 58px;

    color: #F09000;
    font-size: 16px;
}

.secondary-med-btn {
    height: 46px;
    border: 2px solid #F09000;
    border-radius: 30px;
    background-color: #FFFFFF;

    color: #F09000;
    font-size: 14px;
    padding: 0 60px;
}

.secondary-sm-btn {
    height: 30px;
    border: 2px solid #F09000;
    border-radius: 30px;
    background-color: #FFFFFF;
    padding: 0 44px;

    color: #F09000;
    font-size: 13px;
}

.secondary-big-btn:enabled:hover
,.secondary-med-btn:enabled:hover
,.secondary-sm-btn:enabled:hover{
    color: #FFFFFF;
    background-color: #F09000;
    border-color: #F09000;
}

.secondary-big-btn:disabled
,.secondary-med-btn:disabled
,.secondary-sm-btn:disabled {
    border: 2px solid #f9d399;
    color: #f9d399;
    cursor: not-allowed;
}

input {
    font-family: Roboto;
}

.email {
    position: relative;
    display: inline-block;

    height: 50px;
    width: 260px;
    border-radius: 5px;
    color: #959598;
    font-size: 15px;
    padding-left: 15px;
}

.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 56px;
    width: 450px;
    padding-left: 30px;
    padding-right: 5px;
    border-radius: 27.5px;
    font-size: 15px;
}

.email-active {
    border: 2px solid #F09000;
    background-color: #FDEFD9;
}

.email-default {
    --bg-color: #E6E6EC; 
    background-color: var(--bg-color);
    border: 2px solid var(--bg-color);
}

.email-invalid {
    border: 2px solid #FF0000;
    background-color: #FFE3E3;
    color: red;
}

.email-hover{
    --bg-color: #DADAE1;
    background-color: var(--bg-color);
    border: 2px solid var(--bg-color);
}

.email-input {
    position: absolute;
    top: 0px;
    height: inherit;

    background: none;
    outline:none;
    border: none;

    font-size: 15px;
}

.email-placeholder {
    position: absolute;
    top: 0px;
    height: inherit;

    display: flex;
    align-items: center;

    user-select: none;
    background: none;

    font-size: 15px;

    transition: all 0.1s;
    transform-origin: 0% 0%;
}

.red {
    color: red;
}

.placeholder-minimized{
    transform: translateY(-10px);
    font-size: 13px;
}

.email-input-focus {
    --offset: 15px;
    margin-top: var(--offset); 
    height: calc(100% - var(--offset));
} 



.subscribe .subscription-email {
    position: relative;
}

.subscribe .placeholder {
    position: absolute;
    top: 0px;
    height: inherit;
}
